<div class="separar-1">
    <h2 class="titulo">Ayuda</h2>
    <div class="row opcion">
        <p>Ofrecer a Huéspedes</p>
    </div>
    <div class="opcion">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
    </div>
    <div class="row opcion">
        <p>Terminos de Uso</p>
    </div>
    <div class="opcion">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
    </div>
    <div class="opcion">
        <p>Restrcciones a Huéspedes</p>
    </div>
    <div class="opcion">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
    </div>
</div>