<div class="row center-lg center-xs center-md">
    <h2 class="titulo">Ayuda</h2>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="opcion">
          <p>Ofrecer a Huéspedes</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="opcion">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="opcion">
          <p>Terminos de Uso</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="opcion">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="opcion">
          <p>Restricciones a Huéspedes</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="opcion">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
      </div>
    </div>
</div>
