<div class="logo">
  <img src="images/logo.png">
  <p>GoForeigner</p>
</div>
<div class="login">
  <input type="email" placeholder="Email" ng-model="login.loginData.email"><br>
  <input type="password" placeholder="Password" ng-model="login.loginData.pass"><br>
  <a class="forgot-password">¿Olvidaste tu contraseña?</a>
  <button class="login-button" ng-click="login.loginSubmit()">Iniciar Sesión</button><br>
  <p>¿No tienes una cuenta? <a class="register" ui-sref="register">Regístrate</a></p>
</div>
