<div class="contenido-evaluacion separar">
    <div class="publicacion">
       <p class="btn-opcion">X</p>
        <div class="contenido-publicacion">
            <div class="galeria">
                <img src="../assets/img/habitacion.jpg" alt="">
            </div>
            <div class="info-publicacion">
                <p>Publicado: </p>
                <p> 25 de junio 2018</p>
                <div class="mi-publicacion">
                    <i class="fa fa-eye fa-3x" aria-hidden="true"></i>
                    <p>3,102 Vistas</p>
                    <br>
                    <i class="fa fa-commenting fa-3x" aria-hidden="true"></i>
                    <p>102 Comentarios</p>
                </div>
            </div>
        </div>
    </div>
</div>