<div class="search-bar" ng-show="$state.includes('app.explore')">
  <i class="fa fa-search"></i>
  <input type="search" placeholder="Cerca de mí" ng-map-autocomplete ng-model="navigation.autocomplete" options="navigation.options" details="navigation.details" ng-model="navigation.result">
  <div class="filters">
    <span>Filtros:</span>
    <ul>
      <li><button><i class="fa fa-plus"></i></button></li>
    </ul>
  </div>
</div>
<nav-bar ng-show="$state.includes('app.help') || $state.includes('app.newpost') || $state.includes('app.editprofile') || $state.includes('app.offer') || $state.includes('app.post') || $state.includes('app.terms') || $state.includes('app.contact')"></nav-bar>
<div class="cont" ui-view></div>
<div class="bottom-bar" ng-hide="$state.includes('app.index') || $state.includes('app.login')|| $state.includes('app.register')">
  <ul>
    <li ui-sref-active="active" ng-hide="navigation.user.type == 1 || navigation.user.type == 2">
      <div class="section" ui-sref="app.explore">
        <i class="fa fa-search"></i>
        <p>Explorar</p>
      </div>
    </li>
    <li ui-sref-active="active" ng-hide="navigation.user.type == 2 || navigation.user.type == 3">
      <div class="section" ui-sref="app.posts">
        <i class="fa fa-file-o"></i>
        <p>Publicaciones</p>
      </div>
    </li>
    <li ui-sref-active="active" ng-hide="navigation.user.type == 1 || navigation.user.type == 3">
      <div class="section" ui-sref="app.myposts">
        <i class="fa fa-file-o"></i>
        <p>Mis Publicaciones</p>
      </div>
    </li>
    <li ui-sref-active="active" ng-hide="navigation.user.type == 1 || navigation.user.type == 2">
      <div class="section" ui-sref="app.saved">
        <i class="fa fa-heart-o"></i>
        <p>Guardados</p>
      </div>
    </li>
    <li ui-sref-active="active" ng-hide="navigation.user.type == 2 || navigation.user.type == 3">
      <div class="section" ui-sref="app.reports">
        <i class="fa fa-ban"></i>
        <p>Reportes</p>
      </div>
    </li>
    <li ui-sref-active="active" ng-hide="navigation.user.type == 1 || navigation.user.type == 3">
      <div class="section" ui-sref="app.notifications">
        <i class="fa fa-bell-o"></i>
        <p>Notificaciones</p>
      </div>
    </li>
    <li ui-sref-active="active">
      <div class="section" ui-sref="app.profile">
        <i class="fa fa-user-o"></i>
        <p>Perfil</p>
      </div>
    </li>
  </ul>
</div>
