<div class="row">
  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
    <div class="post-images">
      <label>Selecciona por lo menos 4 imágenes</label>
      <div class="image-post-preview">
        <div class="upload-file">
          <input type="file" name="file-1" id="file-1" media-preview preview-container="preview" accept="image/*" ng-model="newpost.data.img.uno">
          <label for="file-1" class="upload-imagen-post"><i class="fa fa-cloud-upload"></i> Subir foto 1</label>
        </div>
        <div class="upload-file">
          <input type="file" name="file-2" id="file-2" media-preview preview-container="preview" accept="image/*" ng-model="newpost.data.img.dos">
          <label for="file-2" class="upload-imagen-post"><i class="fa fa-cloud-upload"></i> Subir foto 2</label>
        </div>
        <div class="upload-file">
          <input type="file" name="file-3" id="file-3" media-preview preview-container="preview" accept="image/*" ng-model="newpost.data.img.tre">
          <label for="file-3" class="upload-imagen-post"><i class="fa fa-cloud-upload"></i> Subir foto 3</label>
        </div>
        <div class="upload-file">
          <input type="file" name="file-4" id="file-4" media-preview preview-container="preview" accept="image/*" ng-model="newpost.data.img.cua">
          <label for="file-4" class="upload-imagen-post"><i class="fa fa-cloud-upload"></i> Subir foto 4</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <div class="post-price">
      <span>$</span>
      <input type="number" name="price" placeholder="Precio" ng-model="newpost.data.price" required>
      <span>.00 MXN</span>
      <select name="period" class="period" ng-model="newpost.data.period" ng-init="newpost.data.period='0'">
        <option value="0">seleccione...</option>
        <option value="1">Semanal</option>
        <option value="2">Quincenal</option>
        <option value="3" ng-selected>Mensual</option>
      </select>
      <span>Huéspedes: </span>
      <select name="guests" ng-model="newpost.data.guests" ng-init="newpost.data.guests='0'">
        <option value="0">seleccione...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
    <div class="post-services">
      <div class="post-header">
        <span>Servicios</span>
        <div class="divider"></div>
      </div>
      <div class="left-options">
        <ul>
          <li ng-repeat="service in newpost.services | limitTo:8:0"><label><input ng-click="newpost.addServicio(service.idTipoServicio)" type="checkbox"> {{ service.descripcion }}</label></li>
        </ul>
      </div>
      <div class="right-options">
        <ul>
          <li ng-repeat="service in newpost.services | limitTo:16:8"><label><input ng-click="newpost.addServicio(service.idTipoServicio)" type="checkbox"> {{ service.descripcion }}</label></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
    <div class="post-restrictions">
      <div class="post-header">
        <span>Restricciones</span>
        <div class="divider"></div>
      </div>
      <div class="left-options">
        <ul>
          <li ng-repeat="restriction in newpost.restrictions | limitTo:3:0"><label><input type="checkbox" ng-click="newpost.addRestriccion(restriction.idTipoRestriccion)"> {{ restriction.descripcion }}</label></li>
        </ul>
      </div>
      <div class="right-options">
        <ul>
          <li ng-repeat="restriction in newpost.restrictions | limitTo:6:3"><label><input type="checkbox" ng-click="newpost.addRestriccion(restriction.idTipoRestriccion)"> {{ restriction.descripcion }}</label></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 first-lg first-md first-sm">
    <div class="post-location">
      <span>Ubicación</span>
      <input type="text" id="autocomplete" ng-map-autocomplete ng-model="newpost.autocomplete" options="newpost.options" details="newpost.details" ng-model="newpost.result" ng-blur="newpost.setMarker()"/>
      <!-- <div>result: {{newpost.details.geometry}}</div> -->
      <div class="post-header">
        <div class="divider"></div>
        <!-- <ng-map zoom="{{ newpost.map.zoom }}" center="[{{ newpost.map.latitude }}, {{ newpost.map.longitude }}]" >
          <marker position="[{{ newpost.map.latitude }}, {{ newpost.map.longitude }}]" center="true"  draggable="true" visible="true" on-dragend="newpost.getCurrentlocation()"></marker>
        </ng-map> -->
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
<div class="row center-sm center-md center-lg">
  <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
    <div class="post-comments">
      <div class="post-header">
        <span>Descripción</span>
        <div class="divider"></div>
      </div>
      <textarea name="name" ng-model="newpost.data.description"></textarea>
    </div>
  </div>
</div>
<div class="row center-sm center-md center-lg">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="post-button">
      <button id="btnpost" class="publish" ng-click="newpost.publicarPost()">Publicar</button>
    </div>
  </div>
</div>
