<div class="post-images">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <img class="swiper-slide" src="../images/apartment1.jpg">
      <img class="swiper-slide" src="../images/apartment1.jpg">
      <img class="swiper-slide" src="../images/apartment1.jpg">
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
<div class="post-price">
  <span>$</span>
  <input type="number" name="price" placeholder="Precio">
  <span>.00 MXN</span>
  <select name="period" class="period">
    <option value="1">Semanal</option>
    <option value="2">Quincenal</option>
    <option value="3">Mensual</option>
  </select>
  <span>Huéspedes: </span>
  <select name="guests">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
<div class="post-services">
  <div class="post-header">
    <span>Servicios</span>
    <div class="divider"></div>
  </div>
  <div class="left-options">
    <ul>
      <li ng-repeat="service in newpost.services | limitTo:8:0"><label><input type="checkbox"> {{ service.descripcion }}</label></li>
    </ul>
  </div>
  <div class="right-options">
    <ul>
      <li ng-repeat="service in newpost.services | limitTo:16:8"><label><input type="checkbox"> {{ service.descripcion }}</label></li>
    </ul>
  </div>
</div>
<div class="post-restrictions">
  <div class="post-header">
    <span>Restricciones</span>
    <div class="divider"></div>
  </div>
  <div class="left-options">
    <ul>
      <li ng-repeat="restriction in newpost.restrictions | limitTo:3:0"><label><input type="checkbox"> {{ restriction.descripcion }}</label></li>
    </ul>
  </div>
  <div class="right-options">
    <ul>
      <li ng-repeat="restriction in newpost.restrictions | limitTo:6:3"><label><input type="checkbox"> {{ restriction.descripcion }}</label></li>
    </ul>
  </div>
</div>
<div class="post-location">
  <span>Ubicación</span>
  <input type="text" ng-map-autocomplete ng-model="newpost.autocomplete" options="newpost.options" details="newpost.details"/>
  <div class="post-header">
    <div class="divider"></div>
    <ng-map zoom="{{ newpost.map.zoom }}" center="[{{ newpost.map.latitude }}, {{ newpost.map.longitude }}]">
      <marker position="[{{ newpost.map.latitude }}, {{ newpost.map.longitude }}]" center="true" ></marker>
    </ng-map>
  </div>
</div>
<div class="post-comments">
  <div class="post-header">
    <span>Descripción</span>
    <div class="divider"></div>
  </div>
  <textarea name="name"></textarea>
</div>
<div class="post-button">
  <button class="publish">Publicar</button>
</div>
