<div class="row center-xs center-lg">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="opcion">
          <p>Ofrecer a Huéspedes</p>
          <p id="activo">Activo</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 col-md-6">
      <div class="opcion" onclick="location.href='/app/newpost';">
          <p>Publicar Inmueble</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 col-md-6">
      <div class="opcion" onclick="location.href='/app/myposts';">
          <p>Mis Publicaciones</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-12 col-md-12">
      <div class="opcion aviso">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
      </div>
    </div>
</div>
