<div class="separar-1">
    <div class="row opcion">
        <p>Ofrecer a Huéspedes</p>
        <p id="activo">Activo</p>
    </div>
    <div class="row opcion" onclick="location.href='/app/newpost';">
        <p>Publicar Inmueble</p>
    </div>
    <div class="opcion" onclick="location.href='/app/myposts';">
        <p>Mis Publicaciones</p>
    </div>
    <div class="opcion aviso">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, vero, quos! Unde praesentium consequatur nemo eos quae nesciunt illum ratione quis perspiciatis, excepturi ea, dolore cumque placeat in, tempora magnam.</p>
    </div>
</div>
