<div class="post-images">
  <img src="images/apartment1.jpg">
</div>
<div class="post-info">
  <div class="price-rating">
    <span>$800.00 MXN / Mensual</span>
    <ul>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star-o"></i></li>
    </ul>
  </div>
  <div class="lessee">
    <div class="name">
      <p>Alberto Torres</p>
    </div>
    <div class="picture">
      <img src="profile_pictures/default.jpg">
    </div>
    <div class="post-buttons">
      <button ui-sref="app.terms">Contactar</button>
      <p><i class="fa fa-ban"></i> Reportar</p>
    </div>
  </div>
</div>
<div class="post-description">
  <div class="post-header" style="text-align: left;">
    <span style="color: var(--primary);">Descripción</span>
  </div>
  <p>Excelente departamento, para un solo estudiante, cuenta con todos los servicios, agradable para trabajar.</p>
</div>
<div class="post-services">
  <div class="post-header" style="text-align: left;">
    <span style="color: var(--primary);">Servicios</span>
  </div>
  <div class="left-options">
    <ul>
      <li>Hola</li>
      <li>Mundo</li>
      <li>Hello</li>
    </ul>
  </div>
  <div class="right-options">
    <ul>
      <li>Hola</li>
      <li>Mundo</li>
      <li>Hello</li>
    </ul>
  </div>
</div>
<div class="post-restrictions">
  <div class="post-header" style="text-align: left;">
    <span style="color: var(--primary);">Restricciones</span>
  </div>
  <div class="left-options">
    <ul>
      <li>Hola</li>
      <li>Mundo</li>
      <li>Hello</li>
    </ul>
  </div>
  <div class="right-options">
    <ul>
      <li>Hola</li>
      <li>Mundo</li>
      <li>Hello</li>
    </ul>
  </div>
</div>
<div class="post-location">
  <div class="post-services">
    <div class="post-header" style="text-align: left;">
      <span style="color: var(--primary);">Ubicación</span>
    </div>
    <ng-map zoom="{{post.map.zoom}}" center="[{{post.map.latitude}}, {{post.map.longitude}}]" style="margin-bottom: 10%;"></ng-map>
</div>
