<div class="contenido-publicar separar">
    <div class="subir-fotos">
        <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">imagen 1</div>
          <div class="swiper-slide">imagen 2</div>
          <div class="swiper-slide">imagen 3</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="subir-archivo">
        <label for="foto">
            <i class="fa fa-cloud-upload fa-5x" aria-hidden="true"></i>
            <p>Subir Foto</p>
        </label>
        <input type="file" id="foto" name="foto" style="display:none;">
    </div>
    <div class="precio">
        <label for="precio">Precio $ MXN</label>
        <input type="text" name="precio" placeholder="800.00">
    </div>
    <div class="periodo-pago">
        <label for="periodo">Periodo de Pago</label>
        <select name="" id="">
            <option value="">Mensuales</option>
            <option value="">Semanales</option>
            <option value="">Anuales</option>
        </select>
    </div>
    <h2>Servicios</h2>
    <hr>
    <table class="opciones-publicacion">
        <tbody>
            <tr>
                <th>
                    <input type="checkbox"><p>Servicio de Red inhalambrica</p>
                </th>
            </tr>
        </tbody>
    </table>
    <h2>Restricciones</h2>
    <hr>
    <table class="opciones-publicacion">
        <tbody>
            <tr>
                <th>
                    <input type="checkbox"><p>Servicio de Red inhalambrica</p>
                </th>
            </tr>
        </tbody>
    </table>
    <h2>Ubicación</h2>
    <hr>
    <div id="map"></div>
    <h2>Comentarios Adicionales</h2>
    <textarea class="comentario-add" name="" id="" placeholder="Comentarios Adicionales"></textarea>
</div>
<button class="btn-primary">Publicar</button>
<script>
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBklrpIF_VqV-FoOmWzJezPFq7gPFmda00&callback=initMap">
</script>
<script src="libs/swiper/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
  pagination: {
    el: '.swiper-pagination',
  },
});
</script>