<div class="profile">
  <div class="user-data">
    <span class="name"> {{ profile.name + ' ' + profile.lastName }} </span>
    <a class="edit-profile" ui-sref="app.editprofile">Editar perfil</a>
  </div>
  <div class="profile-photo">
    <img src="images/profile.jpg">
    <span class="account-status">Verificada <i class="fa fa-check-circle-o"></i></span>
  </div>
</div>
<div class="profile-options">
  <ul>
    <li ui-sref="index">
      <div class="opt-icon"><i class="fa fa-home"></i></div>
      <div class="opt-text"><span>Inicio</span></div>
    </li>
    <li><div class="divider"></div></li>
    <li ui-sref="app.suggestions">
      <div class="opt-icon"><i class="fa fa-info-circle"></i></div>
      <div class="opt-text"><span>Sugerencias</span></div>
    </li>
    <li ui-sref="app.offer">
      <div class="opt-icon"><i class="fa fa-handshake-o"></i></div>
      <div class="opt-text"><span>Ofrecer a huéspedes</span></div>
    </li>
    <li><div class="divider"></div></li>
    <li ui-sref="app.help">
      <div class="opt-icon"><i class="fa fa-question-circle"></i></div>
      <div class="opt-text"><span>Ayuda</span></div>
    </li>
    <li class="sign-out" ng-click="profile.logout()">
      <div class="opt-icon"><i class="fa fa-sign-out"></i></div>
      <div class="opt-text"><span>Cerrar sesión</span></div>
    </li>
  </ul>
</div>
