<div class="logo">
  <img src="images/logo.png">
  <p>GoForeigner</p>
</div>
<div class="login">
  <input type="text" placeholder="Nombre"><br>
  <input type="text" placeholder="Apellidos"><br>
  <input type="email" placeholder="Email"><br>
  <input type="password" placeholder="Password"><br>
  <input type="password" placeholder="Confirmar password"><br>
  <button class="login-button">Registrarme</button><br>
  <p>¿Ya tienes una cuenta? <a class="register" ui-sref="login">Inicia Sesión</a></p>
</div>
