<ul class="posts">
  <li>
    <div class="post">
      <div class="delete-saved" ng-show="$state.includes('app.saved')">
        <i class="fa fa-times" ng-click="saved.deleteSaved()"></i>
      </div>
      <div class="post-elements">
        <div class="post-image">
          <img src="../images/apartment1.jpg">
        </div>
        <div class="post-data">
          <span>$1,000.00 MXN</span>
          <ul class="amenities">
            <li>Departamento</li>
            <li>Medio baño</li>
            <li>2 camas</li>
          </ul>
          <span class="university">UAQ - Facultad de Ciencias Naturales</span>
          <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star-o"></i></li>
            <li><i class="fa fa-star-o"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="post">
      <div class="delete-saved" ng-show="$state.includes('app.saved')">
        <i class="fa fa-times"></i>
      </div>
      <div class="post-image">
        <img src="../images/apartment1.jpg">
      </div>
      <div class="post-data">
        <span>$700.00 MXN</span>
        <ul class="amenities">
          <li>Departamento</li>
          <li>Medio baño</li>
          <li>2 camas</li>
        </ul>
        <span class="university">UAQ - Facultad de Informática</span>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star-o"></i></li>
          <li><i class="fa fa-star-o"></i></li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="post">
      <div class="delete-saved" ng-show="$state.includes('app.saved')">
        <i class="fa fa-times"></i>
      </div>
      <div class="post-image">
        <img src="../images/apartment1.jpg">
      </div>
      <div class="post-data">
        <span>$450.00 MXN</span>
        <ul class="amenities">
          <li>Departamento</li>
          <li>Medio baño</li>
          <li>2 camas</li>
        </ul>
        <span class="university">UNAM - Campus Juriquilla</span>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star-o"></i></li>
          <li><i class="fa fa-star-o"></i></li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="post">
      <div class="delete-saved" ng-show="$state.includes('app.saved')">
        <i class="fa fa-times"></i>
      </div>
      <div class="post-image">
        <img src="../images/apartment1.jpg">
      </div>
      <div class="post-data">
        <span>$450.00 MXN</span>
        <ul class="amenities">
          <li>Departamento</li>
          <li>Medio baño</li>
          <li>2 camas</li>
        </ul>
        <span class="university">UNAM - Campus Juriquilla</span>
        <ul class="rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star-o"></i></li>
          <li><i class="fa fa-star-o"></i></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
