<ul class="posts">
  <div class="row">
    <li class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="post in saved.mypostsData">
      <div class="post">
        <div class="delete-saved" ng-show="$state.includes('app.saved')" ng-click="saved.opciones(post.idPublicacion);">
          <i class="fa fa-ellipsis-v"></i>
        </div>
        <div class="post-image" ui-sref="app.post({id: post.idPublicacion})">
          <!-- <img src="../images/apartment1.jpg"> -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <img class="swiper-slide" src="../images/publicaciones/{{ post.dirImagenuno }}">
              <img class="swiper-slide" src="../images/publicaciones/{{ post.dirImagendos }}">
              <img class="swiper-slide" src="../images/publicaciones/{{ post.dirImagentre }}">
              <img class="swiper-slide" src="../images/publicaciones/{{ post.dirImagencua }}">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
        <div class="post-data">
          <span>${{ post.costo }}.00 MXN</span>
          <ul class="amenities">
            <li>Departamento</li>
            <li>Medio baño</li>
            <li>{{ post.huespedes}} huéspedes</li>
          </ul>
          <span class="university">UAQ - Facultad de Informática</span>
          <!-- <ul class="rating">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star-o"></i></li>
            <li><i class="fa fa-star-o"></i></li>
          </ul> -->
        </div>
        <div class="post-opcion no-visible" id="{{ post.idPublicacion }}">
          <ul>
            <li class="delete-opcion">Eliminar</li>
          </ul>
        </div>
      </div>
    </li>
  </div>
</ul>

<div class="fab add" ui-sref="app.newpost">
  <i class="fa fa-plus"></i>
</div>
