<div class="contenido-evaluacion separar">
    <h2>Cuentanos que tal te la has pasado</h2>
    <div class="publicacion">
        <div class="contenido-publicacion">
            <div class="galeria">
                <img src="../assets/img/habitacion.jpg" alt="">
            </div>
            <div class="info-publicacion">
                <p>Desde : 25 de junio 2017</p>
                <p>Hasta : 25 de junio 2018</p>
                <p>Ubicación: Peña de Bernal #292 Colonia las Americas</p>
                <p class="campo realizar">Realizar Evaluacion</p>
                <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
            </div>
        </div>
        <div class="comentario">
            <textarea class="u-full-width" placeholder="Agrega un comentario"></textarea>
        </div>
        <div class="btn-send">
            <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="publicacion">
        <div class="contenido-publicacion">
            <div class="galeria">
                <img src="../assets/img/habitacion.jpg" alt="">
            </div>
            <div class="info-publicacion">
                <p>Desde : 25 de junio 2017</p>
                <p>Hasta : 25 de junio 2018</p>
                <p>Ubicación: Peña de Bernal #292 Colonia las Americas</p>
                <p class="campo realizar">Realizar Evaluacion</p>
                <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
            </div>
        </div>
        <div class="comentario">
            <textarea class="u-full-width" placeholder="Agrega un comentario"></textarea>
        </div>
        <div class="btn-send">
            <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="publicacion">
        <div class="contenido-publicacion">
            <div class="galeria">
                <img src="../assets/img/habitacion.jpg" alt="">
            </div>
            <div class="info-publicacion">
                <p>Desde : 25 de junio 2017</p>
                <p>Hasta : 25 de junio 2018</p>
                <p>Ubicación: Peña de Bernal #292 Colonia las Americas</p>
                <p class="campo realizar">Realizar Evaluacion</p>
                <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
            </div>
        </div>
        <div class="comentario">
            <textarea class="u-full-width" placeholder="Agrega un comentario"></textarea>
        </div>
        <div class="btn-send">
            <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="publicacion">
        <div class="contenido-publicacion">
            <div class="galeria">
                <img src="../assets/img/habitacion.jpg" alt="">
            </div>
            <div class="info-publicacion">
                <p>Desde : 25 de junio 2017</p>
                <p>Hasta : 25 de junio 2018</p>
                <p>Ubicación: Peña de Bernal #292 Colonia las Americas</p>
                <p class="campo realizar">Realizar Evaluacion</p>
                <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                </div>
            </div>
        </div>
        <div class="comentario">
            <textarea class="u-full-width" placeholder="Agrega un comentario"></textarea>
        </div>
        <div class="btn-send">
            <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
        </div>
    </div>
</div>