<div class="row center-sm center-md center-lg">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="terms">
      <p>Términos y Condiciones</p>
      <p>Al ingresar y utlizar el sitio web GoForeigner, esta aceptando los Términos y Condiciones de Uso, y declara complemtante
      el uso de sus datos para ser proporcionados al arrendatario, mediante el contacto, su información proporcionada a GoForeigner sera procoporcioanda al arrendatario para un posterior contato, asi de la misma manera los datos del arrendatario junto con la ubicación precisa del inmueble te será proporcionada.</p>
      <label><input type="checkbox" ng-click="terms.changeBtnState()"> Acepto los términos y condiciones</label>
      <button id="continueBtn" disabled ng-click="terms.contact()">Continuar</button>
    </div>
  </div>
</div>
