<!DOCTYPE html>
<html lang="en" ng-app="goForeignerApp" ng-controller="MainCtrl as main">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title page-title></title>
  <link rel="stylesheet" href="libs/angular-toastr/dist/angular-toastr.min.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="libs/skeleton/css/skeleton.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class=" {{ main.bodyClass }} ">
  <div class="search-bar" ng-hide="$state.includes('index') || $state.includes('profile') || $state.includes('login')|| $state.includes('register')">
    <i class="fa fa-search"></i>
    <input type="search" placeholder="Cerca de mí">
  </div>
  <div class="container" ui-view></div>
  <div class="bottom-bar" ng-hide="$state.includes('index') || $state.includes('login')|| $state.includes('register')">
    <ul>
      <li ui-sref-active="active">
        <div class="section" ui-sref="explore">
          <i class="fa fa-search"></i>
          <p>Explorar</p>
        </div>
      </li>
      <li ui-sref-active="active">
        <div class="section" ui-sref="saved">
          <i class="fa fa-heart-o"></i>
          <p>Guardados</p>
        </div>
      </li>
      <li ui-sref-active="active">
        <div class="section" ui-sref="profile">
          <i class="fa fa-user-o"></i>
          <p>Perfil</p>
        </div>
      </li>
    </ul>
  </div>

  <script src="libs/angular/angular.min.js" charset="utf-8"></script>
  <script src="libs/angular-animate/angular-animate.min.js" charset="utf-8"></script>
  <script src="libs/angular-toastr/dist/angular-toastr.tpls.js" charset="utf-8"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="js/angular_app.js" charset="utf-8"></script>
  <script src="js/controllers/mainController.js" charset="utf-8"></script>
  <script src="js/controllers/indexController.js" charset="utf-8"></script>
  <script src="js/controllers/loginController.js" charset="utf-8"></script>
  <script src="js/controllers/registerController.js" charset="utf-8"></script>
  <script src="js/controllers/exploreController.js" charset="utf-8"></script>
  <script src="js/controllers/savedController.js" charset="utf-8"></script>
  <script src="js/controllers/profileController.js" charset="utf-8"></script>
  <script src="js/controllers/editProfileController.js" charset="utf-8"></script>
  <script src="js/controllers/resultsController.js" charset="utf-8"></script>
  <script src="js/directives/pageTitleDirective.js" charset="utf-8"></script>
  <script src="js/services/authService.js" charset="utf-8"></script>
  <script src="js/services/userService.js" charset="utf-8"></script>
</body>
</html>
