:root {
  --primary: #F06373;
  --primary-dark: #F04458;
  --success: #12B423;
  --dark-grey: #616161;
  --rating: #F5EA42;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 100%;
}

.no-visible{
  display: none;
}

.middle-login{
  margin-top: 12%;
}

.cont {
  width: 100%;
  /* padding: 5% 5% 0px 5%; */
  padding: 40px 20px 0px 20px;
  margin-bottom: 64px;
}

/* INDEX BODY */

.body-main {
  background: linear-gradient( rgba(36, 36, 36, 0.9), rgba(36, 36, 36, 0.9)), url('../images/apartment1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 0; */
  overflow-x: hidden;
}

/* NAVBAR STYLES */

.navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  line-height: 64px;
  box-shadow: 0px 1px 6px rgba(181, 181, 181, 0.6);
  z-index: 999;
}

.navbar i {
  font-size: 24px;
  margin-top: 20px;
}

.navbar i.fa.fa-arrow-left {
  color: var(--primary);
  float: left;
  margin-left: 20px;
}

.navbar i.fa.fa-heart-o {
  color: var(--primary);
  float: right;
  margin-right: 20px;
}

/* INDEX STYLES */

.logo {
  margin-top: 50px;
}

.logo img {
  width: 25%;
}

@media only screen and (min-width: 75em) {
  .login {
    margin-top: 50px;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 64em) {
  .login {
    margin-top: 50px;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 48em) {
  .login {
    margin-top: 50px;
  }

  .register-form {
    margin-top: 10%;
  }
}

.logo p {
  font-size: 2em;
  color: white;
  font-weight: bold;
  /* margin-top: 15px; */
}

.search{
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.login{
  /* margin-top: 35%; */
}

.register-form{
  /* margin-top: 50px; */
}

.search {
  padding: 0px 5%;
}

.search input {
  width: 100%;
  height: 52px;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s all;
}

.search input:focus, .login input:focus {
  border: 2px solid var(--primary);
}

.search-button {
  width: 50%;
  height: 45px;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  font-size: 1em;
  transition: 0.3s all;
}

.search-button:hover {
  background: var(--primary-dark);
  color: white;
  border: 1px solid var(--primary-dark);
}

.identify {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.button-login, .button-signup {
  width: 50%;
  height: 100%;
  float: left;
  background: var(--primary);
  border-top: 2px solid white;
  text-align: center;
}

.button-signup {
  border-right: 2px solid white;
}

.button-login p, .button-signup p {
  font-size: 1.4em;
  color: white;
  margin-top: 13%;
}

.login input {
  width: 80%;
  height: 52px;
  font-size: 1.1em;
  border-radius: 5px;
  transition: 0.3s all;
}

.login-button {
  width: 80%;
  /* height: 45px; */
  /* margin-top: 8%; */
  /* margin-bottom: 8%; */
  text-align: center;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  font-size: 1em;
  transition: 0.3s all;
}

.login-button:hover {
  background: var(--primary-dark);
  color: white;
  border: 1px solid var(--primary-dark);
}

.login p {
  color: white;
  font-size: 1.2em;
}

/* SEARCH TOP BAR */

.search-bar {
  width: 100%;
  padding: 0px 5%;
}

.search-bar i.fa.fa-search {
  position: absolute;
  top: 29px;
  left: 38px;
  font-size: 1.2em;
  color: var(--primary);
}

.search-bar input {
  width: 100%;
  height: 55px;
  margin-top: 10px;
  padding-left: 42px;
  font-size: 1.2em;
  box-shadow: 0px 2px 10px rgba(181, 181, 181, 0.8);
  transition: 0.3s all;
}

.search-bar input:focus {
  border: 2px solid var(--primary);
}

.filters {
  width: 100%;
  margin-top: 10px;
}

.filters>* {
  float: left;
}

.filters:after {
  content: "";
  clear: both;
  display: table;
}

.filters>span {
  font-size: 1.2em;
  margin-top: 6px;
  margin-right: 7px;
}

.filters>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters>ul>li {
  display: inline-block;
}

.filters>ul>li>button {
  padding: 0px 15px;
  margin-bottom: 0px;
  text-transform: capitalize;
  border: 0;
  background-color: var(--primary);
  color: white;
  font-size: 0.9em;
}

/* RESULTS STYLE */

.results {
  width: 100%;
}

/* BOTTOM BAR */

.bottom-bar {
  position: fixed;
  background: white;
  width: 100%;
  height: 64px;
  bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px -4px 10px rgba(181, 181, 181, 0.8);
}

.bottom-bar ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom-bar ul>li {
  float: left;
  width: calc(100% / 3);
  padding-top: 8px;
}

.bottom-bar ul>li.active .section>i, .bottom-bar ul>li.active .section>p {
  color: var(--primary);
}

.bottom-bar ul>li>.section {
  width: 100%;
  text-align: center;
}

.bottom-bar ul>li>.section>i, .bottom-bar ul>li>.section>p {
  color: var(--dark-grey);
}

.bottom-bar ul>li>.section>i {
  font-size: 1.6em;
}

.bottom-bar ul>li>.section>p {
  font-size: 0.9em;
}

.profile {
  width: 100%;
  padding-top: 5%;
}

.user-data {
  width: 60%;
  margin-top: 9px;
  float: left;
  text-align: center;
  padding-top: 5%;
}

.user-data .name {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--dark-grey);
}

.user-data .edit-profile {
  font-size: 1.3em;
  color: var(--primary);
  outline: none;
  text-decoration: underline;
}

/* PROFILE PHOTO STYLES */

.profile-photo {
  width: 40%;
  float: right;
  text-align: center;
}

.profile-photo img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.profile-photo .account-status {
  color: var(--success);
  font-size: 1.1em;
}

.profile-options {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  /* margin-top: 50%; */
  margin-top: 5rem;
}

.profile-options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-options ul>li {
  margin-bottom: 20px;
}

.opt-icon, .opt-text {
  display: inline-block;
}

.opt-icon {
  width: 10%;
  text-align: center;
}

.opt-text {
  width: 85%;
}

.opt-icon>i, .opt-text>span {
  color: var(--dark-grey);
  font-size: 1.5em;
}

.opt-text {
  padding-left: 3%;
}

.sign-out>.opt-icon>i, .sign-out>.opt-text>span {
  color: var(--primary);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dark-grey);
}

.forgot-password, .register {
  color: var(--primary);
}

.forgot-password {
  float: right;
  margin-right: 10%;
  font-size: 1.1em;
}

.forgot-password:hover, .register:hover {
  color: var(--primary);
  text-decoration: underline;
}

.register {
  margin-left: 1%;
}

/* FAB STYLES */

.fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: calc(65px + 5%);
  margin-right: 5%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--primary);
  color: white;
  font-size: 1.7em;
  text-align: center;
  line-height: 70px;
  box-shadow: 3px 3px 6px rgba(181, 181, 181, 0.6);
}

/* POSTS STYLES */

.posts {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

li>.post {
  position: relative;
  width: 100%;
  height: 180px;
  padding: 2%;
  box-shadow: 0px 1px 6px rgba(181, 181, 181, 0.6);
}

.delete-saved {
  width: 100%;
}

.delete-saved>i {
  float: right;
  margin-right: 7px;
  color: var(--dark-grey);
}

.post-image, .post-data {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
}

.post-data {
  padding-left: 15px;
}
.post-image{
  padding: 20px;
  box-sizing: border-box;
}

/* .post-image>img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--primary);
} */

.post-image img.swiper-slide{
  border: 2px solid var(--primary);
}

.post-data ul.amenities, .post-data ul.rating {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-opcion{
  position: absolute;
  right: 5%;
  margin-right: 7px;
  margin-top: 5%;
  /* margin-bottom: 5%; */
  width: 25%;
  /* height: 60%; */
  background: white;
  box-shadow: 0px 1px 6px rgba(181, 181, 181, 0.6);
}

.post-opcion > ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 8px;
}

.post-opcion >ul li{
  padding: 1rem;
  margin-bottom: 0;
  box-sizing: border-box;
  border-bottom: .5px solid rgba(181, 181, 181, 0.8);
  transition: .8s all;
}

.post-opcion > ul li:hover{
  background: var(--primary-dark);
  color: white;
}

li.delete-opcion{
  color: var(--primary-dark);
}

ul.amenities>li {
  margin: 0;
}

ul.rating>li {
  float: left;
  margin: 0px 5px 0px 0px;
  color: var(--rating);
}

span.university {
  color: var(--primary);
}

/* NEW POST STYLES */

.post-images, .post-price, .post-services, .post-restrictions, .post-location, .post-comments, .publish {
  margin-top: 5%;
}

.post-images, .post-price, .post-services, .post-restrictions, .post-location, .post-comments {
  width: 100%;
}

.image-post-preview{
  margin-top: 50px;
  text-align: center;
}

.media-container{
  height: 3em;
  width: 3em;
  /* background-color: red; */
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.media-container > img{
  width: 50px;
  height: 50px;
  background-position: center;
  background-image: cover;
  background-repeat: no-repeat;
  border: 2px solid var(--primary);
}

#map{
  height: 20em;
}

.post-location > input {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.post-location > input:focus{
  border : 1px solid var(--primary);
}

.post-comments, .post-button {
  text-align: center;
}

.post-price>span:nth-child(1), .post-price>span:nth-child(5) {
  margin-left: 10%;
}

.post-price>input, .post-price>select:nth-child(1) {
  width: 28%;
  transition: 0.3s all;
}

.post-price>input:focus, .post-price>select:nth-child(1):focus {
  border: 2px solid var(--primary);
}

.post-price>select:nth-child(1) {
  margin-left: 3%;
}

.post-price>.guests {}

.post-header {
  text-align: center;
}

.post-header span {
  font-size: 1.4em;
  color: var(--dark-grey);
}

.post-header .divider {
  width: 80%;
  margin-left: 10%;
  background: var(--dark-grey);
}

.left-options, .right-options {
  float: left;
  width: 50%;
}

.post-services::after, .post-restrictions::after {
  content: "";
  clear: both;
  display: table;
}

.left-options>ul, .right-options>ul {
  margin: 0;
  padding: 0;
  padding-left: 20%;
  list-style: none;
  margin-top: 15%;
}

.post-location .map {
  width: 80%;
  height: 200px;
  margin-top: 6%;
  margin-left: 10%;
  border: 1px solid var(--primary);
}

.post-comments>textarea {
  width: 100%;
  height: 150px;
  margin-top: 6%;
  font-size: 1.1em;
  resize: none;
  transition: 0.3s all;
}

.post-comments>textarea:focus {
  border: 2px solid var(--primary);
}

.post-button>button {
  width: 80%;
  height: 55px;
  background: var(--primary);
  border: none;
  color: white;
  font-size: 1.2em;
  margin-bottom: 10%;
}

/* EDIT PROFILE STYLES */

.profile-picture, .profile-change-picture .profile-data {
  width: 100%;
}

.profile-picture, .profile-data {
  text-align: center;
}

.profile-picture {
  margin-top: 45px;
}

.profile-picture>img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 3px solid var(--primary);
}

.profile-change-picture {
  /* margin-top: 5%;
  /* margin-bottom: 8%; */
  margin-left: 20%;
}

.profile-change-picture>.preview, .profile-change-picture>.upload-file {
  margin-right: 15px;
  margin-left: 15px;
  width: calc(30% - 15px);
  float: left;
}

.profile-change-picture::after {
  content: "";
  clear: both;
  display: table;
}

.profile-change-picture>.preview {
  text-align: center;
}

.profile-change-picture>.preview>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15%;
  border: 3px solid var(--primary);
}

.profile-change-picture>.upload-file>input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-file>input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-change-picture>.upload-file>input + label {
  width: 150px;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 15%;
  color: var(--primary);
  display: inline-block;
}

.profile-data>span {
  color: var(--dark-grey);
  font-weight: bold;
}

.profile-data>input {
  width: 70%;
  font-size: 1em;
  transition: 0.3s all;
}

.profile-data>input:focus {
  border: 2px solid var(--primary);
}

.profile-data>button {
  width: 70%;
  margin-top: 8%;
  margin-bottom: 10%;
  background-color: var(--primary);
  color: white;
  font-size: 1em;
}

/* POST STYLES */
.post-images, .post-info, .post-description {
  width: 100%;
}

.post-images {
  margin-top: 45px;
}

.post-images>img {
  max-width: 100%;
}

.post-images > label{
  text-align: center;
}

.post-info>.price-rating, .post-info>.lessee {
  width: 50%;
  float: left;
}

.price-rating {
  margin-top: 2%;
}

.price-rating>span {
  width: 100%;
}

.price-rating>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price-rating>ul>li {
  float: left;
  color: var(--rating);
}

.post-info {
  margin-top: 15px;
}

.post-info::after {
  content: "";
  clear: both;
  display: table;
}

.lessee {
  padding-left: 3%;
}

.lessee::after {
  content: "";
  clear: both;
  display: table;
}

.lessee>.name, .lessee>.picture {
  float: left;
}

.lessee>.name {
  width: 60%;
}

.lessee>.picture {
  width: 40%;
}

.lessee>.name>p {
  margin-top: 10%;
}

.lessee>.picture>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  margin-left: 5%;
}

.post-buttons {
  text-align: center;
}

.post-buttons>button:nth-child(1) {
  background: var(--primary);
  color: white;
  border: none;
}

.post-buttons>p {
  text-decoration: underline;
  cursor: pointer;
}

.post-description>p {
  text-align: justify;
}

.upload-imagen-post{
  text-align: center;
  font-size: 1.5em;
  display: inline-block;
}

/* TERMS AND CONDITIONS */
.terms {
  margin-top: 45px;
}

.terms>p:nth-child(1) {
  text-align: center;
  font-size: 1.6em;
  color: var(--primary);
}

.terms>p:nth-child(2) {
  text-align: justify;
  font-size: 1.1em;
}

.terms>button {
  width: 70%;
  height: 45px;
  margin-top: 10%;
  margin-left: 15%;
  font-size: 1em;
  background: var(--primary);
  border: none;
  color: white;
  cursor: disabled;
  transition: 0.3s all;
}

.terms>button:disabled {
  background: var(--dark-grey);
  cursor: disabled;
}
